@import "vars";

body {
  font-family: sans-serif;
  background-color: $pale-gray;
  color: $black;
}

button {
  margin: 1em;
  width: 12em;
}

canvas {
  margin: 0.5em;
}

div.center {
  text-align: center;
}

h1 {
  text-align: center;
}

table {
  border-radius: 1em;
  box-shadow: 0 0 0.3em 0.3em $gray;
  margin: 2em auto;
  padding: 0.5em;
  text-align: left;

  td {
    padding: 0.1em 0.5em;
  }

  th {
    @extend td;
  }
}

.hidden {
  display: none;
}
