@import "vars";

body {
  background-color: var(--pale-gray);
  color: var(--black);
}

canvas {
  cursor: pointer;
  margin: 0.5em 0;
}

canvas:fullscreen {
  cursor: none;
  height: 100vh;
  margin: 0;
  width: 100vh;
}

div.center {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 1em;
}

header {
  background: color(var(--pale-gray) shade(20%));
}

section {
  margin: 1em;
}

table {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3em 0.3em var(--gray);
  margin: 2em auto;
  padding: 0.5em;
  text-align: left;
}

td, th {
  padding: 0.1em 0.5em;
}

.hidden {
  display: none;
}

.right {
  text-align: right;
}
